* { margin:0; padding:0; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* generic */

body {
    background: #ffffff;
	font: 13px "Optima", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	color: #666;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
  	text-align: left;
    line-height: 1.7;
    position:relative;
}

h1 {
    font-size: 26px;
    font-family: "CandalRegular", "Helvetica", "Arial", sans-serif;
    margin-top:40px;
    margin-bottom:-6px;
	font-weight: normal;
	color: #600;
	text-align: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "CandalRegular", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	color: #600;
	border:none;
	text-align: center;
}

h3 {
	color: #777;
    margin-bottom: 40px;
    font-size: 10px;
	font-weight: normal;
	text-align: center;
}

h4 {
    margin-top: 20px;
    margin-bottom: -5px;
    font-size: 15px;
    font-family: "CandalRegular", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	color: #600;
}

ul {
    margin-left:30px
}

li {
    margin-top:5px;
}

p {
    margin-top:12px;
    margin-bottom:12px;
}

strong {
    font-weight:bold;
	color: #0a0;
	color: #000;
}

img { border:none; }

a { text-decoration:underline; color: #933; border:none; }
a:hover   { text-decoration:underline; }

.sidebar {
	position:absolute;
	left:650px;
	width:160px;
	font-size:11px;
	color:#aaa;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* intro */

.introColumnSet {
	position:relative;
	width:600px;
	height:232px;
	margin-top:12px;
	display:block;
}

.introColumn {
	position:absolute;
	left:0px;
	top:0px;
	width:190px;
}

.introColumn p {
	margin-top:0;
}

.introColumn img {
	margin-left:-2px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* park example */

#parkExample {
	position:relative;
	font: 14px "Times New Roman", "Times", serif;
	line-height: 1.4;
	color: #111;
	padding-left:20px;
	padding-right:20px;
	margin-left:0px;
	border-left: none;
	border: 1px solid #aaa;
	margin-top:20px;
	margin-bottom:20px;
	width:584px;
	-webkit-box-shadow:0px 4px 8px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 4px 8px rgba(0,0,0,0.4);
	box-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

#parkExample h5 {
	font: 16px "Times New Roman", "Times", serif;
	font-weight: bold;
	line-height: 1.4;
	color: #111;
    margin-top:10px;
    margin-bottom:10px;
}

#parkExample h6 {
	font: 14px "Times New Roman", "Times", serif;
	font-weight: normal;
	font-style: italic;
	line-height: 1.4;
	color: #111;
    margin-top:13px;
    margin-bottom:-5px;
}

.c_adjustableNumber {
	border-bottom: 1px dotted #000;
}

.c_adjustableNumberHover {
	color: #00f;
	border-color: #00f;
}

.c_toggle {
	border-bottom: 1px dotted #000;
	cursor:pointer;
}

.c_toggle:hover {
	color: #00f;
	border-color: #00f;
}

.adjustableNumberHelp {
	position:absolute;
	color: #00f;
	font: 9px "Helvetica-Neue", "Arial", sans-serif;
}

.cursorDragHorizontal {
	cursor: pointer;
	cursor: move;
	cursor: col-resize;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* filter example */

#filterExample {
	position:relative;
	font: 13px "Times New Roman", "Times", serif;
	color: #111;
	padding-left:20px;
	margin-left:0px;
	border: 1px solid #aaa;
	margin-top:20px;
	margin-bottom:20px;
	width:598px;
	-webkit-box-shadow:0px 4px 8px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 4px 8px rgba(0,0,0,0.4);
	box-shadow:0px 4px 8px rgba(0,0,0,0.4);
}

#filterExample p {
	margin-top:15px;
	margin-bottom:15px;
}

#filterExample i {
	font: 13px "Times New Roman", "Times", serif;
	font-style: italic;
}

.filterSidebar {
	position:absolute;
	left:420px;
	width:170px;
	font-size:12px;
	color:#aaa;
}

.filterIndent {
	position:relative;
	margin-left: 40px;
	margin-bottom:25px;
}

.filterDynamicLabel {
	position:absolute;
	width:40px;
	height:14px;
	font: 11px "Times New Roman", "Times", serif;
	color: #00f;
	background-color:rgba(200,0,0,0.3);
	background-color:#fff;
	text-align:center;
	display:none;
}

.filterDynamicCoef {
	position:absolute;
	font: 13px "Times New Roman", "Times", serif;
	color: #00f;
	background-color:rgba(200,0,0,0.3);
	background-color:#fff;
	text-align:left;
	display:none;
}

.v_stepPlot {
	position:absolute;
	display:none;
}

.v_timePlot {
	position:absolute;
	display:none;
}

.v_polePlot {
	position:absolute;
	display:none;
}

.v_audioPlayer {
	width:1px;
	height:1px;
	margin:0;
	padding:0;
}

.filterFreqPlot canvas {
	position:relative;
	width:256px;
	height:128px;
	border-left:1px solid #222;
	border-bottom:1px solid #222;
}

.filterUnstable {
	position:absolute;
	left:13px;
	top:40px;
	color:#f00;
}

.filterParams {
	position:absolute;
	color: #00f;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
	padding-right: 6px;
	pointer-events:none;
}

.c_filterKnobHelp {
	position:absolute;
	display:none;
	left:0px;
	top:-13px;
	color: #b0b0b0;
	font: 11px "Times New Roman", "Times", serif;
	font-style: italic;
	pointer-events:none;
}

#filterAudioSwitch {
	background-image:url(Media/FilterRockOff.png);
	width:166px;
	height:34px;
	margin-left:30px;
	margin-right:24px;
	margin-top:6px;
	cursor:pointer;
	float:left;
}

.cursorDrag {
	cursor: pointer;
	cursor: move;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* wikipedia example */

#wikipediaExample {
	position:relative;
	font: 14px "Times New Roman", "Times", serif;
	line-height: 1.4;
	color: #111;
	padding-left:20px;
	padding-right:20px;
	margin-left:2px;
	border-left: none;
	border: 1px solid #aaa;
	margin-top:20px;
	margin-bottom:20px;
	-webkit-box-shadow:0px 4px 8px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 4px 8px rgba(0,0,0,0.4);
	box-shadow:0px 4px 8px rgba(0,0,0,0.4);
}


#wikipediaExample h5 {
	font: 14px "Times New Roman", "Times", serif;
	font-weight: bold;
	line-height: 1.4;
	color: #111;
    margin-top:10px;
    margin-bottom:10px;
}

.wikipediaSearchBox {
	display:block;
	position:absolute;
	font: 14px "Times New Roman", "Times", serif;
}

.wikipediaWikiBox {
	display:block;
	position:absolute;
	width:450px;
	height:204px;
	overflow: hidden;

	border: 2px solid #e9cea5;
	background-color: #fdffe9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	-webkit-box-shadow:0px 4px 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 10px rgba(0,0,0,0.5);
	box-shadow:0px 4px 10px rgba(0,0,0,0.5);
}

.wikipediaWikiBoxHeader {
	background-color: #e9cea5;
	font: 16px "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	color: #7f5c29;
	padding-top:3px;
	width:450px;
	height:20px;
	padding-left:12px;
	padding-right:12px;
	margin-bottom:-4px;
}

.wikipediaWikiBoxContent {
	font: 12px "Helvetica", "Arial", sans-serif;
	color: #7f5c29;
	line-height: 1.5;
	margin-left:12px;
	margin-right:12px;
}



